#header{
    height:200px;
    background-image: url('../img/tambur.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.logoPartner{
    float:left;
    margin-right:20px;
    margin-bottom:5px;
}

.imgCenter{
   margin: 20px;
   margin-left:0px;
}
.imgRight{
    float:right;
    margin: 20px;
    margin-right:0px;
}
#login{
    padding:20px;
    border: 1px solid #ccc;
    width: 17em;
    margin:0 auto;
    border-radius: 15px;
}