/* 
    Document   : style
    Created on : 16 лют 2013, 19:08:14
    Author     : mckaliaska
    Description:
        Purpose of the stylesheet follows.
*/

body{ 
    background-color: #91BE3F;
    padding: 150px 0 0 0;
    margin: 0px;
}

input{
    border-radius: 5px;
    height:30px;
    width:300px;
    border:none;
    background-color: #91BE3F;
}

#loginForm{
    width: 600px;
    height: 350px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

#username{
    margin:100px 0px 20px 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#password{
    margin:0px 0px 20px 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#submit{
    width:100px;
    height:30px;
    margin:0px 0px 0px 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#desctop{
    height:718px;
    width:100%;
    padding: 0;
    margin-top:-150px;
    background-color: #3366ff;
}

#stertmenu{
    width:100%;
    height:50px;
    background-color: #A7C0DC;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#stertmenu #leftculumn{
    list-style: none;
    margin:0px;
    padding: 0 0 0 10px;
    float:left;
}

#stertmenu #leftculumn li{
    float: left;
    position:relative;
}

#start{
    width:50px;
    height:50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#start:hover{
    background-color: #D1E5FD;
}

#rightculumn{
    list-style: none;
    margin:0px;
    padding: 0 0 0 0;
    float:right;
    margin-right:10px;
}

#rightculumn li{
    float: left;
    height:50px;
    line-height: 50px;
    text-align: center;
}

.startlist{
    height:250px;
    list-style: none;
    padding-left:0px;
    padding-top:20px;
    margin-top: -329px;
    margin-left: -10px;
    box-shadow: 3px 0px 0px rgba(0,0,0,0.5); 
    border: solid 4px #A7C0DC;
    border-top-right-radius: 10px;
    background-color: #A7C0DC;
    width:250px;
}
.startlist li{
    clear:both;
    background-color: #fff;
    width:250px;
}
.startlist li:hover{
    background-color: #D1E5FD;
}
